.button{
    width: auto;
    font-size: 20px;
    padding: 20px;
    border-radius: 18px;
    border: 1px solid  rgba(0, 0, 0, 0.621);
    box-shadow: 0 0 10px hsla(0, 7%, 3%, 0.277);
    background: transparent;
    cursor: pointer;
    transition: 0.2s all ease;
}
.button:hover{
    color: white;
    background: black;
    transition: 0.2s all ease;
    transform: scale(1.1);
}