.contact {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 20px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-content {
  max-width: 600px;
  margin: 0 auto;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
}

.contact p {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}
.contact p a {
  color: yellow;
}
.social-icons {
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #ffffff;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease;
}
