.card-whole{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.card{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 18px ;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;;
    text-align: center;
    max-width: 300px;
    
}
.card .profilepic{
    max-width: 70%;
    height: auto;
    border-radius: 20px;;
}
.card .card-title{
    font-family: 'Courier New', Courier, monospace;
    font: 18px;
    text-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.183);
    
}
.card .card-des{
    font-family: 'Courier New', Courier, monospace;
    font: 12px;
    color: hsla(0, 0%, 0%, 0.877);
    font-weight: bold;
}